[submodule "Inception/vendor/spdlog"]
	path = Inception/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Inception/vendor/GLFW"]
	path = Inception/vendor/GLFW
	url = https://github.com/printfErik/glfw
